@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid {
  @apply max-w-4xl mx-auto px-4 sm:px-8;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
